@using Alkoshop.Models
@{
    ViewBag.Title = "Conditions";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />

<h2>Obchodní podmínky</h2>
<div>
    <h3><span style="font-size: 1.17em;">1. <span style="font-size: 16px;">Preambule</span></span></h3>
    <div style="text-align: justify;">Tyto v&scaron;eobecn&eacute; obchodn&iacute; podm&iacute;nky (d&aacute;le t&eacute;ž VOP) plat&iacute; pro n&aacute;kup v internetov&eacute;m obchodě www.alkohol-shop.cz, kter&yacute; je provozov&aacute;n společnost&iacute; eXtraOBCHOD s.r.o., IČ:27831868, se s&iacute;dlem 28. ř&iacute;jna 961/279, Ostrava, Hulv&aacute;ky, 709 00, zaps. v OR veden&eacute;m krajsk&yacute;m soudem v Ostravě, odd&iacute;l C, vložka 30757. Tyto VOP upravuj&iacute; vztahy mezi Kupuj&iacute;c&iacute;m a Prod&aacute;vaj&iacute;c&iacute;m v oblasti prodeje zbož&iacute; mezi eXtraOBCHOD s.r.o., IČ:27831868, se s&iacute;dlem 28. ř&iacute;jna 961/279, Ostrava, Hulv&aacute;ky, 709 00, zaps. v OR veden&eacute;m krajsk&yacute;m soudem v Ostravě, odd&iacute;l C, vložka 30757 (d&aacute;le jen &bdquo;Prod&aacute;vaj&iacute;c&iacute;&ldquo;) a jej&iacute;mi obchodn&iacute;mi partnery (d&aacute;le jen &bdquo;Kupuj&iacute;c&iacute;&ldquo;).</div>
    <div>&nbsp;</div>
    <div style="text-align: justify;">Ve&scaron;ker&eacute; smluvn&iacute; vztahy jsou uzavřeny v souladu s pr&aacute;vn&iacute;m ř&aacute;dem Česk&eacute; republiky. Kupuj&iacute;c&iacute; pod&aacute;n&iacute;m objedn&aacute;vky potvrzuje, že se sezn&aacute;mil s těmito obchodn&iacute;mi podm&iacute;nkami, jejichž ned&iacute;lnou souč&aacute;st tvoř&iacute; reklamačn&iacute; ř&aacute;d, a že s nimi souhlas&iacute;. Na tyto obchodn&iacute; podm&iacute;nky je Kupuj&iacute;c&iacute; dostatečn&yacute;m způsobem před vlastn&iacute;m uskutečněn&iacute;m objedn&aacute;vky upozorněn a m&aacute; možnost se s nimi sezn&aacute;mit.</div>
    <h3>2. Definice</h3>
    <h4>1. Prod&aacute;vaj&iacute;c&iacute;</h4>
</div>
<div>Prod&aacute;vaj&iacute;c&iacute;m je (společnost) eXtraOBCHOD s.r.o., IČ:27831868, se s&iacute;dlem 28. ř&iacute;jna 961/279,Ostrava, Hulv&aacute;ky, 709 00, zaps. v OR veden&eacute;m krajsk&yacute;m soudem v Ostravě, odd&iacute;l C, vložka 30757.</div>
<h4>2. Kupuj&iacute;c&iacute;</h4>
<div>Kupuj&iacute;c&iacute;m je spotřebitel nebo podnikatel.</div>
<div>
    <div>&nbsp;</div>
    <div style="text-align: justify;"><strong>Spotřebitelem</strong> je fyzick&aacute; osoba, kter&aacute; při uzav&iacute;r&aacute;n&iacute; a plněn&iacute; kupn&iacute; Smlouvy s Prod&aacute;vaj&iacute;c&iacute;m nejedn&aacute; v r&aacute;mci sv&eacute; obchodn&iacute; nebo jin&eacute; podnikatelsk&eacute; činnosti nebo v r&aacute;mci samostatn&eacute;ho v&yacute;konu sv&eacute;ho povol&aacute;n&iacute;. Spotřebitel při zah&aacute;jen&iacute; obchodn&iacute;ch vztahů před&aacute;v&aacute; Prod&aacute;vaj&iacute;c&iacute;mu pouze sv&eacute; kontaktn&iacute; &uacute;daje, nutn&eacute; pro bezprobl&eacute;mov&eacute; vyř&iacute;zen&iacute; objedn&aacute;vky, popř&iacute;padě &uacute;daje, kter&eacute; chce m&iacute;t uvedeny na n&aacute;kupn&iacute;ch dokladech.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Pr&aacute;vn&iacute; vztahy Prod&aacute;vaj&iacute;c&iacute;ho se spotřebitelem v&yacute;slovně neupraven&eacute; těmito VOP se ř&iacute;d&iacute; př&iacute;slu&scaron;n&yacute;mi ustanoven&iacute;mi z&aacute;k. č. 40/1964 Sb., občansk&yacute; z&aacute;kon&iacute;k a z&aacute;k. č. 634/1992 Sb., o ochraně spotřebitele, oba v platn&eacute;m zněn&iacute;, jakož i předpisy souvisej&iacute;c&iacute;mi.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div><strong>Podnikatelem</strong> se rozum&iacute;:</div>
    <ul>
        <li>osoba zapsan&aacute; v obchodn&iacute;m rejstř&iacute;ku (předev&scaron;&iacute;m obchodn&iacute; společnosti),</li>
        <li>osoba, kter&aacute; podnik&aacute; na z&aacute;kladě živnostensk&eacute;ho opr&aacute;vněn&iacute; (živnostn&iacute;k zapsan&yacute; v živnostensk&eacute;m rejstř&iacute;ku),</li>
        <li>osoba, kter&aacute; podnik&aacute; na z&aacute;kladě jin&eacute;ho než živnostensk&eacute;ho opr&aacute;vněn&iacute; podle zvl&aacute;&scaron;tn&iacute;ch předpisů (sem patř&iacute; např. svobodn&aacute; povol&aacute;n&iacute; jako advokacie apod.), a</li>
        <li>osoba, kter&aacute; provozuje zemědělskou v&yacute;robu a je zaps&aacute;na do evidence podle zvl&aacute;&scaron;tn&iacute;ho předpisu.</li>
    </ul>
    <div>
        <div style="text-align: justify;">Pr&aacute;vn&iacute; vztahy Prod&aacute;vaj&iacute;c&iacute;ho s Kupuj&iacute;c&iacute;m, kter&yacute; je podnikatel, v&yacute;slovně neupraven&eacute; těmito VOP ani Smlouvou mezi Prod&aacute;vaj&iacute;c&iacute;m a Kupuj&iacute;c&iacute;m se ř&iacute;d&iacute; př&iacute;slu&scaron;n&yacute;mi ustanoven&iacute;mi z&aacute;k. č. 513/1991 Sb., obchodn&iacute; z&aacute;kon&iacute;k v platn&eacute;m zněn&iacute;, jakož i předpisy souvisej&iacute;c&iacute;mi.</div>
        <div>&nbsp;</div>
        <div>Individu&aacute;ln&iacute; Smlouva Prod&aacute;vaj&iacute;c&iacute;ho s Kupuj&iacute;c&iacute;m je nadřazena obchodn&iacute;m podm&iacute;nk&aacute;m.</div>
    </div>
</div>
<h4>3. Spotřebitelsk&aacute; Smlouva</h4>
<div style="text-align: justify;">Smlouva kupn&iacute;, o d&iacute;lo, př&iacute;padně jin&eacute; smlouvy dle občansk&eacute;ho z&aacute;kon&iacute;ku, pokud smluvn&iacute;mi stranami jsou na jedn&eacute; straně spotřebitel a na druh&eacute; straně dodavatel, resp. Prod&aacute;vaj&iacute;c&iacute;.</div>
<div>
    <h3>3. Zpracov&aacute;n&iacute; osobn&iacute;ch &uacute;dajů</h3>
    <div style="text-align: justify;">Ve&scaron;ker&eacute; nakl&aacute;d&aacute;n&iacute; s osobn&iacute;mi &uacute;daji Kupuj&iacute;c&iacute;ch se ř&iacute;d&iacute; z&aacute;konem č. 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů ve zněn&iacute; pozděj&scaron;&iacute;ch předpisů a ostatn&iacute;mi pr&aacute;vn&iacute;mi předpisy platn&yacute;mi na &uacute;zem&iacute; ČR. Kupuj&iacute;c&iacute; sv&yacute;m svobodn&yacute;m rozhodnut&iacute;m (stiskem tlač&iacute;tka Dokončit objedn&aacute;vku) d&aacute;v&aacute; najevo, že si je vědom v&scaron;ech v&yacute;&scaron;e uveden&yacute;ch skutečnost&iacute; a souhlas&iacute; s dal&scaron;&iacute;m zpracov&aacute;n&iacute;m sv&yacute;ch osobn&iacute;ch &uacute;dajů pro &uacute;čely obchodn&iacute; činnosti provozovatele tohoto eshopu. Poskytnut&iacute; osobn&iacute;ch &uacute;dajů je dobrovoln&eacute;, m&aacute;te pr&aacute;vo na př&iacute;stup k &uacute;dajům a n&aacute;lež&iacute; V&aacute;m ochrana pr&aacute;v v rozsahu stanoven&eacute;m z&aacute;konem. Tento souhlas můžete kdykoli p&iacute;semně odvolat. Osobn&iacute; &uacute;daje budou plně zabezpečeny proti zneužit&iacute;. Data budou uchov&aacute;v&aacute;na a nebudou sd&iacute;lena s aplikacemi třet&iacute;ch osob.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Kupuj&iacute;c&iacute; poskytnut&iacute;m uveden&yacute;ch osobn&iacute;ch &uacute;dajů a odkliknut&iacute;m potvrzuj&iacute;c&iacute; ikony dobrovolně souhlas&iacute; s t&iacute;m, aby &uacute;daje poskytnut&eacute; v rozsahu, kter&eacute; v konkr&eacute;tn&iacute;m př&iacute;padě vyplnil či kter&eacute; byly o něm z&iacute;sk&aacute;ny na z&aacute;kladě uzavřen&eacute; kupn&iacute; Smlouvy či v r&aacute;mci prohl&iacute;žen&iacute; internetov&yacute;ch str&aacute;nek provozovatele, byly zpracov&aacute;ny Provozovatelem, jej&iacute;ž &uacute;daje jsou uvedeny v Preambuli těchto podm&iacute;nek, jakožto spr&aacute;vcem za &uacute;čelem nab&iacute;zen&iacute; služeb a produktů spr&aacute;vce, zas&iacute;l&aacute;n&iacute; informac&iacute; o činnosti spr&aacute;vce, a to i elektronick&yacute;mi prostředky (zejm&eacute;na e-mail, SMS zpr&aacute;vy, telemarketing) dle z&aacute;kona č. 480/2004 Sb., na dobu do odvol&aacute;n&iacute; tohoto souhlasu ( např. zasl&aacute;n&iacute;m libovoln&eacute; zpr&aacute;vy na email: info@extraobchod.cz). Zpracov&aacute;n&iacute;m v&yacute;&scaron;e uveden&yacute;ch osobn&iacute;ch &uacute;dajů může spr&aacute;vce pověřit třet&iacute; osobu, jakožto zpracovatele.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Spr&aacute;vce t&iacute;mto informuje subjekt &uacute;dajů a poskytuje mu v&yacute;slovn&eacute; poučen&iacute; o pr&aacute;vech vypl&yacute;vaj&iacute;c&iacute;ch ze z&aacute;kona č. 101/2000 Sb., o ochraně osobn&iacute;ch &uacute;dajů, tj. zejm&eacute;na o tom, že poskytnut&iacute; osobn&iacute;ch &uacute;dajů spr&aacute;vci je dobrovoln&eacute;, že subjekt &uacute;dajů m&aacute; pr&aacute;vo k jejich př&iacute;stupu, m&aacute; pr&aacute;vo v&yacute;&scaron;e uveden&yacute; souhlas kdykoliv p&iacute;semně odvolat na adrese spr&aacute;vce a d&aacute;le m&aacute; pr&aacute;vo v př&iacute;padě poru&scaron;en&iacute; sv&yacute;ch pr&aacute;v obr&aacute;tit se na &Uacute;řad pro ochranu osobn&iacute;ch &uacute;dajů a požadovat odpov&iacute;daj&iacute;c&iacute; n&aacute;pravu, kterou je např. zdržen&iacute; se takov&eacute;ho jedn&aacute;n&iacute; spr&aacute;vcem, odstraněn&iacute; vznikl&eacute;ho stavu, poskytnut&iacute; omluvy, proveden&iacute; opravy či doplněn&iacute;, zablokov&aacute;n&iacute;, likvidace osobn&iacute;ch &uacute;dajů, zaplacen&iacute; peněžit&eacute; n&aacute;hrady, jakož i využit&iacute; dal&scaron;&iacute;ch pr&aacute;v vypl&yacute;vaj&iacute;c&iacute;ch z &sect; 11 a 21 tohoto z&aacute;kona. Pokud si Kupuj&iacute;c&iacute; přeje opravit osobn&iacute; &uacute;daje, kter&eacute; o něm Provozovatel nebo Prod&aacute;vaj&iacute;c&iacute; zpracov&aacute;v&aacute;, může jej o to pož&aacute;dat na emailov&eacute; adrese info@extraobchod.cz nebo na v&yacute;&scaron;e uveden&eacute; po&scaron;tovn&iacute; adrese Provozovatele nebo Prod&aacute;vaj&iacute;c&iacute;ho.</div>
    <div>
        <h3>4. Objedn&aacute;vka a uzavřen&iacute; Smlouvy</h3>
        <div style="text-align: justify;">Objedn&aacute;vku je Kupuj&iacute;c&iacute; opr&aacute;vněn zaslat Prod&aacute;vaj&iacute;c&iacute;mu pouze skrze objedn&aacute;vkov&yacute; syst&eacute;m eshopu.</div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;">N&aacute;vrhem k uzavřen&iacute; kupn&iacute; Smlouvy je um&iacute;stěn&iacute; nab&iacute;zen&eacute;ho zbož&iacute; Prod&aacute;vaj&iacute;c&iacute;m na str&aacute;nky, kupn&iacute; Smlouva vznik&aacute; odesl&aacute;n&iacute;m objedn&aacute;vky Kupuj&iacute;c&iacute;m spotřebitelem a přijet&iacute;m objedn&aacute;vky Prod&aacute;vaj&iacute;c&iacute;m. Toto přijet&iacute; Prod&aacute;vaj&iacute;c&iacute; neprodleně potvrd&iacute; Kupuj&iacute;c&iacute;mu informativn&iacute;m emailem na zadan&yacute; email, na vznik Smlouvy v&scaron;ak toto potvrzen&iacute; nem&aacute; vliv. Vzniklou Smlouvu (včetně dohodnut&eacute; ceny) lze měnit nebo ru&scaron;it pouze na z&aacute;kladě dohody stran nebo na z&aacute;kladě z&aacute;konn&yacute;ch důvodů.</div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;">Někter&eacute; druhy m&eacute;ně prod&aacute;van&eacute;ho zbož&iacute; nen&iacute; Prod&aacute;vaj&iacute;c&iacute; schopen z kapacitn&iacute;ch a ekonomick&yacute;ch důvodů dlouhodobě skladovat. Při objedn&aacute;vce zbož&iacute; nad č&aacute;stku ve v&yacute;&scaron;i 30000,- Kč se Kupuj&iacute;c&iacute; zavazuje uhradit Prod&aacute;vaj&iacute;c&iacute;mu z&aacute;lohu ve v&yacute;&scaron;i 50 % z prodejn&iacute; ceny zbož&iacute;. Prod&aacute;vaj&iacute;c&iacute; je povinen objednat zbož&iacute; u dodavatele až v okamžiku &uacute;hrady pln&eacute; v&yacute;&scaron;e z&aacute;lohy Kupuj&iacute;c&iacute;m. K &uacute;hradě z&aacute;lohy akceptuje Prod&aacute;vaj&iacute;c&iacute; platebn&iacute; podm&iacute;nky uveden&eacute; v č&aacute;sti 6. těchto VOP, a to pod body Hotově, Bankovn&iacute; převod - předplatba. Z&aacute;loha je vratn&aacute; pouze v př&iacute;padě, kdy Prod&aacute;vaj&iacute;c&iacute; nen&iacute; schopen zajistit dod&aacute;n&iacute; zbož&iacute; Kupuj&iacute;c&iacute;mu.</div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;"><strong>Za &uacute;čelem omezen&iacute; dostupnosti alkoholick&yacute;ch n&aacute;pojů osob&aacute;m mlad&scaron;&iacute;m 18 let jsou stanovena n&aacute;sleduj&iacute;c&iacute; pravidla:</strong></div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;"><strong>1. Při dod&aacute;vce zbož&iacute;, kter&aacute; obsahuje alkoholick&eacute; n&aacute;poje, prostřednictv&iacute;m přepravn&iacute; společnosti, bude na z&aacute;silce uvedeno, že tuto je opr&aacute;vněna převz&iacute;t pouze osoba star&scaron;&iacute; 18 let. Pracovn&iacute;k přepravn&iacute; společnosti z&aacute;silku před&aacute; adres&aacute;tovi jen v př&iacute;padě, že mu tento prok&aacute;že, že &uacute;daj o věku Kupuj&iacute;c&iacute;ho odpov&iacute;d&aacute; skutečnosti (např. OP nebo jin&yacute;m dokladem).</strong></div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;"><strong>2. Při dod&aacute;n&iacute; zbož&iacute; formou osobn&iacute;ho odběru se Kupuj&iacute;c&iacute; zavazuje prok&aacute;zat na pož&aacute;d&aacute;n&iacute; Prod&aacute;vaj&iacute;c&iacute;mu, že je osobou star&scaron;&iacute; 18 let. V opačn&eacute;m př&iacute;padě se považuje kupn&iacute; Smlouva za zru&scaron;enou a zbož&iacute; se vr&aacute;t&iacute; Prod&aacute;vaj&iacute;c&iacute;mu.</strong></div>
        <div style="text-align: justify;">&nbsp;</div>
        <div style="text-align: justify;">Tyto VOP jsou vyhotoveny v česk&eacute;m jazyce, přičemž kupn&iacute; smlouvu je možn&eacute; uzavř&iacute;t t&eacute;ž pouze v jazyce česk&eacute;m. Spotřebitel, kter&yacute; m&aacute; trval&eacute; bydli&scaron;tě v člensk&eacute;m st&aacute;tě Evropsk&eacute; unie mimo &uacute;zem&iacute; Česk&eacute; republiky, popř. kter&yacute; je občanem člensk&eacute;ho st&aacute;tu Evropsk&eacute; unie mimo &uacute;zem&iacute; Česk&eacute; republiky, potvrzen&iacute;m objedn&aacute;vky souhlas&iacute; s uzavřen&iacute;m kupn&iacute; smlouvy v česk&eacute;m jazyce. Po uzavřen&iacute; kupn&iacute; smlouvy nen&iacute; možn&eacute; zji&scaron;ťovat, zda při zpracov&aacute;n&iacute; dat před pod&aacute;n&iacute;m objedn&aacute;vky vznikly chyby, př&iacute;padně tyto chyby opravovat. Uzavřen&aacute; kupn&iacute; smlouva je Prod&aacute;vaj&iacute;c&iacute;m archivov&aacute;na a je po vyž&aacute;d&aacute;n&iacute; Kupuj&iacute;c&iacute;mu př&iacute;stupn&aacute; ve lhůtě 1 roku ode dne jej&iacute;ho podpisu.</div>
    </div>
</div>
<h3>5. Cena a platba</h3>
<div style="text-align: justify;">Nab&iacute;dka s cenami uv&aacute;děn&yacute;mi na eshopu prodejce jsou smluvn&iacute;, konečn&eacute;, vždy aktu&aacute;ln&iacute; a platn&eacute;, a to po dobu, kdy jsou takto Prod&aacute;vaj&iacute;c&iacute;m v internetov&eacute;m obchodě nab&iacute;zeny. N&aacute;klady na dopravu jsou uvedeny v č&aacute;sti &bdquo;Dodac&iacute; lhůta a podm&iacute;nky dod&aacute;n&iacute;&ldquo;. N&aacute;klady na použit&iacute; komunikačn&iacute;ch prostředků na d&aacute;lku nese Kupuj&iacute;c&iacute;. Konečn&aacute; kalkulovan&aacute; cena po vyplněn&iacute; objedn&aacute;vkov&eacute;ho formul&aacute;ře je již uvedena i včetně dopravn&eacute;ho. Jako cena při uzavřen&iacute; Smlouvy mezi prod&aacute;vaj&iacute;c&iacute;m a kupuj&iacute;c&iacute;m plat&iacute; cena uveden&aacute; u zbož&iacute; v době objedn&aacute;v&aacute;n&iacute; zbož&iacute; kupuj&iacute;c&iacute;m. Daňov&yacute; doklad na z&aacute;kladě kupn&iacute; Smlouvy mezi Prod&aacute;vaj&iacute;c&iacute;m a Kupuj&iacute;c&iacute;m slouž&iacute; z&aacute;roveň i jako dodac&iacute; list. Kupuj&iacute;c&iacute; může zbož&iacute; převz&iacute;t z&aacute;sadně až po jeho &uacute;pln&eacute;m uhrazen&iacute;, pokud nen&iacute; toto dohodnuto jinak.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">V př&iacute;padě, kdy Kupuj&iacute;c&iacute; provede &uacute;hradu a Prod&aacute;vaj&iacute;c&iacute; posl&eacute;ze nen&iacute; schopen zajistit dod&aacute;n&iacute; zbož&iacute;, vr&aacute;t&iacute; Prod&aacute;vaj&iacute;c&iacute; neprodleně plněn&iacute; Kupuj&iacute;c&iacute;mu dohodnut&yacute;m způsobem. Lhůta k vr&aacute;cen&iacute; vynaložen&yacute;ch prostředků je z&aacute;visl&aacute; na zvolen&eacute;m způsobu jejich vr&aacute;cen&iacute;, nesm&iacute; v&scaron;ak překročit dobu 30 dn&iacute; od okamžiku, kdy tato nemožnost vznikla.</div>
<div>&nbsp;</div>
<div>Zbož&iacute; zůst&aacute;v&aacute; do &uacute;pln&eacute;ho zaplacen&iacute; majetkem prod&aacute;vaj&iacute;c&iacute;ho.</div>
<div>&nbsp;</div>
<div>Prod&aacute;vaj&iacute;c&iacute; akceptuje n&aacute;sleduj&iacute;c&iacute; platebn&iacute; podm&iacute;nky:</div>
<ul>
    <li>Hotově</li>
    <li>Dob&iacute;rka - Uloženka.cz nebo Z&aacute;silkovna.cz</li>
</ul>
<h3>6. Dodac&iacute; lhůta a podm&iacute;nky dod&aacute;n&iacute;</h3>
<div style="text-align: justify;">Prod&aacute;vaj&iacute;c&iacute; spln&iacute; dod&aacute;vku zbož&iacute; před&aacute;n&iacute;m tohoto zbož&iacute; kupuj&iacute;c&iacute;mu, nebo před&aacute;n&iacute;m zbož&iacute; prvn&iacute;mu dopravci, t&iacute;m tak&eacute; přech&aacute;z&iacute; na Kupuj&iacute;c&iacute;ho nebezpeč&iacute; &scaron;kody na věci.Dostupnost produktu je uvedena vždy v detailu tohoto produktu. Dodac&iacute; lhůta je z&aacute;visl&aacute; na dostupnosti produktu, platebn&iacute;ch podm&iacute;nk&aacute;ch a podm&iacute;nk&aacute;ch dod&aacute;n&iacute;, a čin&iacute; maxim&aacute;lně 30 dnů. V běžn&yacute;ch př&iacute;padech zbož&iacute; expedujeme do 3 pracovn&iacute;ch dn&iacute; od uhrazen&iacute; pln&eacute; v&yacute;&scaron;e kupn&iacute; ceny. Souč&aacute;st&iacute; dod&aacute;vky nen&iacute; instalace zakoupen&eacute;ho zbož&iacute;.Společně se z&aacute;silkou obdrž&iacute; Kupuj&iacute;c&iacute; daňov&yacute; doklad/fakturu.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Dodac&iacute; lhůta zač&iacute;n&aacute; u zbož&iacute;, kter&eacute; bude Kupuj&iacute;c&iacute;m placeno při převzet&iacute;, tj. na dob&iacute;rku, běžet dnem platn&eacute;ho uzavřen&iacute; kupn&iacute; Smlouvy dle čl&aacute;nku IV. těchto VOP. V př&iacute;padě, že Kupuj&iacute;c&iacute; zvolil jinou variantu &uacute;hrady než zaplacen&iacute; zbož&iacute; při jeho převzet&iacute;, zač&iacute;n&aacute; dodac&iacute; lhůta běžet až od &uacute;pln&eacute;ho zaplacen&iacute; kupn&iacute; ceny, tj. od přips&aacute;n&iacute; př&iacute;slu&scaron;n&eacute; č&aacute;stky na &uacute;čet Prod&aacute;vaj&iacute;c&iacute;ho.</div>
<div style="text-align: justify;">&nbsp;</div>
<div>Prod&aacute;vaj&iacute;c&iacute; akceptuje n&aacute;sleduj&iacute;c&iacute; dodac&iacute; podm&iacute;nky:</div>
<ul>
    <li>Osobn&iacute; odběr</li>
    <li>Přepravn&iacute; společnost IN TIME</li>
    <li>Osobn&iacute; odběr Z&aacute;silkovna.cz</li>
    <li>Osobn&iacute; odběr Uloženka.cz</li>
</ul>
<div style="text-align: justify;">V př&iacute;padě v&yacute;měny zbož&iacute; ve lhůtě 14-ti dnů od zakoupen&iacute; zbož&iacute; jsou Kupuj&iacute;c&iacute;mu &uacute;čtov&aacute;ny n&aacute;klady na po&scaron;tovn&eacute;, a to při každ&eacute;m jednotliv&eacute;m zasl&aacute;n&iacute; zbož&iacute; směrem ke Kupuj&iacute;c&iacute;mu.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">V př&iacute;padě vr&aacute;cen&iacute; zbož&iacute; Kupuj&iacute;c&iacute;m Prod&aacute;vaj&iacute;c&iacute;mu do 14-ti dnů hrad&iacute; n&aacute;klady na po&scaron;tovn&eacute; Kupuj&iacute;c&iacute;.V př&iacute;padě objedn&aacute;vky zbož&iacute; v hodnotě nad 4000,- Kč včetně DPH nese n&aacute;klady na dopravu a platbu Prod&aacute;vaj&iacute;c&iacute;.</div>
<h3>7. Z&aacute;ruka a servis</h3>
<div>
    <div style="text-align: justify;">Při prodeji spotřebn&iacute;ho zbož&iacute; je z&aacute;ručn&iacute; doba 24 měs&iacute;ců; jde-li o prodej potravin&aacute;řsk&eacute;ho zbož&iacute;, je z&aacute;ručn&iacute; doba osm dn&iacute;, u prodeje krmiv tři t&yacute;dny a u prodeje zv&iacute;řat &scaron;est t&yacute;dnů. Je-li na prod&aacute;van&eacute; věci, jej&iacute;m obalu nebo n&aacute;vodu k n&iacute; připojen&eacute;m vyznačena v souladu se zvl&aacute;&scaron;tn&iacute;mi pr&aacute;vn&iacute;mi předpisy lhůta k použit&iacute; věci, skonč&iacute; z&aacute;ručn&iacute; doba uplynut&iacute;m t&eacute;to lhůty.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Z&aacute;ruka se nevztahuje na opotřeben&iacute; věci způsoben&eacute; jej&iacute;m obvykl&yacute;m už&iacute;v&aacute;n&iacute;m. U věc&iacute; prod&aacute;van&yacute;ch za niž&scaron;&iacute; cenu se z&aacute;ruka nevztahuje na vady, pro kter&eacute; byla niž&scaron;&iacute; cena sjedn&aacute;na. Jde-li o věci použit&eacute;, neodpov&iacute;d&aacute; prod&aacute;vaj&iacute;c&iacute; za vady odpov&iacute;daj&iacute;c&iacute; m&iacute;ře použ&iacute;v&aacute;n&iacute; nebo opotřeben&iacute;, kter&eacute; měla věc při převzet&iacute; kupuj&iacute;c&iacute;m.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Pro uplatněn&iacute; z&aacute;ručn&iacute; opravy je potřebn&eacute; předložit pořizovac&iacute; doklad (&uacute;čtenka, faktura, Smlouva o leasingu), popř. z&aacute;ručn&iacute; list. V př&iacute;padě zasl&aacute;n&iacute; zbož&iacute; Prodejci je nutn&eacute; zbož&iacute; zabalit pro přepravu takov&yacute;m způsobem, aby nedo&scaron;lo k jeho po&scaron;kozen&iacute; během přepravy.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Prod&aacute;vaj&iacute;c&iacute; neposkytuje Kupuj&iacute;c&iacute;m poz&aacute;ručn&iacute; servis.</div>
</div>
<h3>8. Reklamačn&iacute; ř&aacute;d</h3>
<div style="text-align: justify;">V př&iacute;padě, že se v průběhu z&aacute;ručn&iacute; doby vyskytne vada, m&aacute; Kupuj&iacute;c&iacute;, v z&aacute;vislosti na povaze t&eacute;to vady, při uplatněn&iacute; z&aacute;ruky n&aacute;sleduj&iacute;c&iacute; pr&aacute;va:</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">v př&iacute;padě vady odstraniteln&eacute;:</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">a.) pr&aacute;vo na bezplatn&eacute;, ř&aacute;dn&eacute; a včasn&eacute; odstraněn&iacute; vady</div>
<div style="text-align: justify;">b.) pr&aacute;vo na v&yacute;měnu vadn&eacute;ho zbož&iacute; nebo vadn&eacute; souč&aacute;sti, nen&iacute;-li to vzhledem k povaze vady ne&uacute;měrn&eacute;</div>
<div style="text-align: justify;">c.) v př&iacute;padě nemožnosti postupů uveden&yacute;ch v bodech a.) a b.) m&aacute; pr&aacute;vo na přiměřenou slevu z kupn&iacute; ceny nebo odstoupen&iacute; od kupn&iacute; smlouvy</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">v př&iacute;padě vady neodstraniteln&eacute;:</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">a.) pr&aacute;vo na v&yacute;měnu vadn&eacute;ho zbož&iacute; nebo odstoupen&iacute; od kupn&iacute; smlouvy v př&iacute;padě vady odstraniteln&eacute;, pokud Kupuj&iacute;c&iacute; nemůže pro opětovn&eacute; vyskytnut&iacute; vady po opravě (tzn. zbož&iacute; bylo již 3x reklamov&aacute;no pro stejnou vadu) nebo pro vět&scaron;&iacute; počet</div>
<div style="text-align: justify;">vad věc ř&aacute;dně už&iacute;vat</div>
<div style="text-align: justify;">b.) pr&aacute;vo na v&yacute;měnu vadn&eacute;ho zbož&iacute; nebo odstoupen&iacute; od kupn&iacute; smlouvy jde-li o jin&eacute; vady neodstraniteln&eacute; a nepožaduje-li spotřebitel v&yacute;měnu věci:</div>
<div style="text-align: justify;">c.) pr&aacute;vo na přiměřenou slevu z kupn&iacute; ceny nebo odstoupen&iacute; od kupn&iacute; smlouvy</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Reklamaci lze uplatnit u Prod&aacute;vaj&iacute;c&iacute;ho, a to ve v&scaron;ech jeho provozovn&aacute;ch.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Reklamace se nevztahuj&iacute; na př&iacute;pady:</div>
<div style="text-align: justify;">&nbsp;</div>
<ul>
    <li style="text-align: justify;">vznikla-li z&aacute;vada nebo po&scaron;kozen&iacute; prokazatelně nespr&aacute;vn&yacute;m už&iacute;v&aacute;n&iacute;m, v rozporu s n&aacute;vodem k použit&iacute; anebo jin&yacute;m nespr&aacute;vn&yacute;m jedn&aacute;n&iacute;m Kupuj&iacute;c&iacute;ho</li>
    <li style="text-align: justify;">prokazateln&yacute;ch nedovolen&yacute;ch z&aacute;sahů do zbož&iacute;</li>
    <li style="text-align: justify;">na vady, kter&eacute; vznikly běžn&yacute;m opotřeben&iacute;m spotřebn&iacute;ho zbož&iacute; se stanovenou lhůtou použit&iacute; dle zvl&aacute;&scaron;tn&iacute;ch pr&aacute;vn&iacute;ch předpisů, pokud je takov&aacute; reklamace uplatňov&aacute;na po uplynut&iacute; t&eacute;to lhůty</li>
    <li style="text-align: justify;">vady způsoben&eacute; vlivem živeln&yacute;ch katastrof</li>
</ul>
<h3><strong>9. Mimosoudn&iacute;&Iacute; ře&scaron;en&iacute; spotřebitelsk&yacute;ch sporů</strong></h3>
<p style="text-align: justify;">Prod&aacute;vaj&iacute;c&iacute;, v souladu s ust. &sect; 14 z&aacute;kona č. 634/1992 Sb. o ochraně spotřebitele, informuje spotřebitele o možnosti ře&scaron;it spory, vypl&yacute;vaj&iacute;c&iacute; ze smluv uzavřen&yacute;ch s prod&aacute;vaj&iacute;c&iacute;m, prostřednictv&iacute;m subjektu mimosoudn&iacute;ho ře&scaron;en&iacute; spotřebitelsk&yacute;ch sporů, kter&yacute;m je Česk&aacute; obchodn&iacute; inspekce (www.coi.cz), se s&iacute;dlem &Scaron;těp&aacute;nsk&aacute; 567/15, Praha 2, PSČ 120 00.</p>
<h3>10. Ukončen&iacute; Smlouvy</h3>
<div style="text-align: justify;">Vzhledem k charakteru uzavřen&iacute; kupn&iacute; Smlouvy prostřednictv&iacute;m komunikace na d&aacute;lku, m&aacute; Kupuj&iacute;c&iacute;, kter&yacute; je spotřebitelem, pr&aacute;vo odstoupit od t&eacute;to Smlouvy bez jak&eacute;koli sankce ve lhůtě 14-ti dnů od převzet&iacute; zbož&iacute;. D&aacute;le m&aacute; Kupuj&iacute;c&iacute;, kter&yacute; je spotřebitelem pr&aacute;vo odstoupit od Smlouvy v souladu s ust. &sect; 53 odst. 7 a 8 z&aacute;kona č. 40/164 Sb., občansk&yacute; z&aacute;kon&iacute;k, ve zněn&iacute; pozděj&scaron;&iacute;ch předpisů. V&yacute;&scaron;e uveden&eacute; se nevztahuje na Kupuj&iacute;c&iacute;ho, kter&yacute; je podnikatelem a uzav&iacute;r&aacute; kupn&iacute; Smlouvu v souvislosti se svou podnikatelskou činnost&iacute;. V př&iacute;padě v&yacute;&scaron;e uveden&eacute;ho odstoupen&iacute; od smlouvy bude Prod&aacute;vaj&iacute;c&iacute;m zasl&aacute;na kupn&iacute; cena na bankovn&iacute; &uacute;čet Kupuj&iacute;c&iacute;ho, kter&yacute; za t&iacute;mto &uacute;čelem Kupuj&iacute;c&iacute; Prod&aacute;vaj&iacute;c&iacute;mu sděl&iacute;.</div>
<div style="text-align: justify;">&nbsp;</div>
<div style="text-align: justify;">Prod&aacute;vaj&iacute;c&iacute; m&aacute; pr&aacute;vo odstoupit od Smlouvy v př&iacute;padě, kdy Kupuj&iacute;c&iacute; neuhrad&iacute; plnou v&yacute;&scaron;i kupn&iacute; ceny ve lhůtě 30-ti dnů ode dne uzavřen&iacute; kupn&iacute; Smlouvy.</div>
<h3>11. Z&aacute;věrečn&aacute; ustanoven&iacute;</h3>
<div>
    <div style="text-align: justify;">Kupuj&iacute;c&iacute; umožn&iacute; Prod&aacute;vaj&iacute;c&iacute;mu plněn&iacute; povinnost&iacute; v souladu se Nab&iacute;dkou/Smlouvou, k čemuž vyvine ve&scaron;kerou potřebnou součinnost.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Kupuj&iacute;c&iacute; se zavazuje uhradit ve&scaron;ker&eacute; n&aacute;klady vznikl&eacute; Prod&aacute;vaj&iacute;c&iacute;mu rozes&iacute;l&aacute;n&iacute;m upom&iacute;nek a n&aacute;klady spojen&eacute; s vym&aacute;h&aacute;n&iacute;m př&iacute;padn&yacute;ch pohled&aacute;vek.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Kupuj&iacute;c&iacute; bere na vědom&iacute;, že Prod&aacute;vaj&iacute;c&iacute; je opr&aacute;vněn postoupit svou pohled&aacute;vku ze Smlouvy na třet&iacute; osobu.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Kupuj&iacute;c&iacute; bude neprodleně informovat Prod&aacute;vaj&iacute;c&iacute;ho o změně sv&yacute;ch identifikačn&iacute;ch &uacute;dajů, a to nejpozději do 5 pracovn&iacute;ch dnů ode dne, kdy takov&aacute; změna nastala.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Strany se zavazuj&iacute;, že vynalož&iacute; maxim&aacute;ln&iacute; &uacute;sil&iacute; na sm&iacute;rn&eacute; ře&scaron;en&iacute; ve&scaron;ker&yacute;ch sporů vze&scaron;l&yacute;ch ze Smlouvy a/nebo VOP nebo v souvislosti s nimi.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Vz&aacute;jemn&yacute; z&aacute;vazkov&yacute; vztah smluvn&iacute;ch stran se ř&iacute;d&iacute; pr&aacute;vn&iacute;m ř&aacute;dem Česk&eacute; republiky, zejm&eacute;na z&aacute;konem č. 40/1964 Sb., občansk&yacute;m z&aacute;kon&iacute;kem, v platn&eacute;m zněn&iacute;. Pro &uacute;čely kontraktace s mezin&aacute;rodn&iacute;m prvkem t&iacute;mto v souladu s čl. III. nař&iacute;zen&iacute; č. 593/2008 o pr&aacute;vu rozhodn&eacute;m pro smluvn&iacute; z&aacute;vazkov&eacute; vztahy, přijat&eacute;ho Evropsk&yacute;m parlamentem a Radou Evropsk&eacute; unie</div>
    <div style="text-align: justify;">dne 17. června 2008 (d&aacute;le jen &bdquo;Ř&iacute;m I&ldquo;), že zvolily rozhodn&yacute;m pr&aacute;vem pro kupn&iacute; Smlouvu a tyto VOP pr&aacute;vo česk&eacute;, a to s vyloučen&iacute;m použit&iacute; &bdquo;&Uacute;mluvy OSN o smlouv&aacute;ch o mezin&aacute;rodn&iacute; koupi zbož&iacute;&ldquo;. Touto volbou nen&iacute; dotčen čl. VI Ř&iacute;m I, t&yacute;kaj&iacute;c&iacute; se spotřebitelsk&yacute;ch smluv.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">V př&iacute;padě, že kter&eacute;koliv ustanoven&iacute; Smlouvy a/nebo VOP je nebo se stane či bude shled&aacute;no neplatn&yacute;m nebo nevymahateln&yacute;m, neovlivn&iacute; to (v nejvy&scaron;&scaron;&iacute;m rozsahu povolen&eacute;m pr&aacute;vn&iacute;mi předpisy) platnost a vymahatelnost zb&yacute;vaj&iacute;c&iacute;ch ustanoven&iacute; Smlouvy a/nebo VOP. Smluvn&iacute; strany se v takov&yacute;ch př&iacute;padech zavazuj&iacute; nahradit neplatn&eacute; či nevymahateln&eacute; ustanoven&iacute; ustanoven&iacute;m platn&yacute;m a vymahateln&yacute;m, kter&eacute; bude m&iacute;t do nejvy&scaron;&scaron;&iacute; m&iacute;ry stejn&yacute; a pr&aacute;vn&iacute;mi předpisy př&iacute;pustn&yacute; v&yacute;znam a &uacute;činek, jako byl z&aacute;měr ustanoven&iacute;, jež m&aacute; b&yacute;t nahrazeno. Z pr&aacute;vn&iacute; opatrnosti t&iacute;mto smluvn&iacute; strany prohla&scaron;uj&iacute;, pro př&iacute;pady kontraktace s mezin&aacute;rodn&iacute;m prvkem pro jak&eacute;koliv př&iacute;pady sporů (s v&yacute;jimkou sporů u nichž je d&aacute;na v&yacute;lučn&aacute; pravomoc</div>
    <div style="text-align: justify;">rozhodce a/nebo v souvislosti s nimi) či po př&iacute;pady, v nichž by bylo pravomocn&yacute;m rozhodnut&iacute;m soudu shled&aacute;no, že zde nen&iacute; d&aacute;na pravomoc rozhodce dle tohoto čl&aacute;nku VOP, že v souladu s čl. 23 Nař&iacute;zen&iacute; Rady (ES) č. 44/2001 ze dne 22. prosince 2000, o př&iacute;slu&scaron;nosti a uzn&aacute;v&aacute;n&iacute; a v&yacute;konu soudn&iacute;ch rozhodnut&iacute; v občansk&yacute;ch a obchodn&iacute;ch věcech, sjedn&aacute;vaj&iacute;c&iacute; v&yacute;lučnou př&iacute;slu&scaron;nost krajsk&eacute;ho soudu v Ostravě pro rozhodov&aacute;n&iacute; ve&scaron;ker&yacute;ch budouc&iacute;ch sporů ze Smlouvy a/nebo VOP a/nebo v souvislosti s nimi. Takt&eacute;ž smluvn&iacute; strany t&iacute;mto zakl&aacute;daj&iacute; pro ve&scaron;ker&eacute; spory v souvislosti se Smlouvou a VOP (s v&yacute;jimkou sporů u nichž je d&aacute;na v&yacute;lučn&aacute; pravomoc rozhodce a/nebo v souvislosti s nimi) v&yacute;lučnou pravomoc krajsk&eacute;ho soudu v Ostravě.</div>
    <div style="text-align: justify;">&nbsp;</div>
    <div style="text-align: justify;">Tyto VOP nab&yacute;vaj&iacute; platnosti a &uacute;činnosti dne 1.1.2014 a jsou k dispozici takt&eacute;ž na internetov&yacute;ch str&aacute;nk&aacute;ch Prod&aacute;vaj&iacute;c&iacute;ho. Tyto VOP je Prod&aacute;vaj&iacute;c&iacute; opr&aacute;vněn kdykoliv změnit. VOP pak pozb&yacute;vaj&iacute; platnosti a &uacute;činnosti dnem nabyt&iacute; &uacute;činnosti VOP pozděj&scaron;&iacute;ch.</div>
    <div style="text-align: justify;">&nbsp;</div>

    @section SideMenu
    {
        <h3 class="h3 align-self-center">MENU</h3>
        <a data-toggle="collapse" href="#collapse1" class="h4" id="menuitem">
            Alkohol
        </a>
        <div id="collapse1" class="panel-collapse collapse">
            @foreach (Category cat in ViewBag.AlcoCategories)
            {
                <li class="nav-item">
                    <a class="nav-link" id="itemnav" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.id})">
                        <span data-feather="file"> @cat.name</span>

                    </a>
                </li>

            }
        </div>

        <a data-toggle="collapse" href="#collapse2" class="h4" id="menuitem">
            Tabák
        </a>
        <div id="collapse2" class="panel-collapse collapse">
            @foreach (Category cat in ViewBag.TabaccoCategories)
            {
                <li class="nav-item" id="itemnav">
                    <a class="nav-link" id="itemnav" href="@Url.Action("ShowProductByCategory", "Product", new { categoryId = cat.id})">
                        <span data-feather="file"> @cat.name</span>

                    </a>
                </li>

            }
        </div>
    }

</div>





