@using DataAccess.Model
@{
    ViewBag.Title = "AboutUs";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Content/menustyle.css" />
<div class="jumbotron">
    <h1>O nás</h1>
    <hr class="my-4">
    <h2>
        Jsme malá firma se sídlem v Olomouci. Zaměřujeme se především na prodej alkoholu a tabáku.
        Můžete využít možnosti navštívit kamennou prodejnu a využít naší ochutnávkové nabídky
    </h2>
</div>

<br /><br />
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCjkXOF-BH_bxqjrYi7HdKhZeZQmwn-9jw'></script><div style='overflow:hidden;height:436px;width:694px;'>
    <div id='gmap_canvas' style='height:436px;width:694px;'></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important
        }
    </style>
</div>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=96f6b1270124b4ad2c01789f1f94ec5149650e26'></script>
<script type='text/javascript'>function init_map() { var myOptions = { zoom: 12, center: new google.maps.LatLng(49.5923021, 17.2503467), mapTypeId: google.maps.MapTypeId.ROADMAP }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(49.5923021, 17.2503467) }); infowindow = new google.maps.InfoWindow({ content: '<strong></strong><br>Pavelčákova 56<br>779 00 Olomouc<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
