#menuitem {
    margin: 5px;
    background-color: whitesmoke;
    border: 1px lightgreen solid;
    padding: 3px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-radius: 7px;
}

    #menuitem:hover {
        margin: 5px;
        background-color: lightgreen;
        border: 1px lightgreen solid;
        padding: 3px;
        text-decoration: none;
        color: black;
        text-align: center;
        border-radius: 7px;
    }

#itemnav {
    margin: 3px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

    #itemnav:hover {
        margin: 3px;
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 5px;
    }

#karta {
    margin-bottom: 8px;
    background-color: whitesmoke;
}

.marged{
    margin-bottom: 30px;
}
.checked {
    color: orange;
}