body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.miniature{
    width : 200px;
    height : 50px;
}
.padded-down {
    padding-bottom: 35px;
}

input .input-validation-error{
    background-color:blue;
    color:aqua;
}

.valid{
    background-color:lawngreen;
}

.pull-right{
    float: right !important
}

#nav {
    background-color: darkgreen;
    color: white;
}

#color-body {
    background-color: white;
}
#sing {
    float: right;
    position: absolute;
}
