body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.padded-down {
    padding-bottom: 35px;
}

input .input-validation-error{
    background-color:blue;
    color:aqua;
}

.valid{
    background-color:red;
}

